<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
      <nav class="navbar navbar-light ml-auto w-100" style="background-color: #e3f2fd;">
        <a routerLink="/">בית</a>
        <a [routerLink]="">שני</a>
        <a [routerLink]="">שלישי</a>
      </nav>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
