agm-map {
  height: 400px;
  width: 85%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-item {
  margin-top: 30px;
  justify-content: center;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  justify-content: right;

}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
