<div class="jumbotron bg-white mx-auto p-3">
  <blockquote class="blockquote">
    <h4>ד"ר אלון רביב DMD, MD</h4>
    <h5>מומחה ברפואת שיניים לילדים</h5>
    <p class="mb-0">
      שמי אלון רביב, אני גר באבן יהודה, נשוי באושר לאיילה ולנו 3 ילדים אהובים.
      <br>
      אני רופא שיניים מומחה לילדים מהדסה עין כרם וגם דוקטור לרפואה. משנת 1997 אני חבר בהסתדרות לרפואת שיניים בישראל
      וחבר באיגוד הישראלי לרפואת שיניים לילדים.
      <br>
      <br>
      יש לציין שרוב רופאי השיניים המטפלים בילדים בישראל הם לא מומחים.
      כמומחה יש לי ידע וניסיון בתחומים כגון טיפול בילדים צעירים מאד, ילדים עם חרדה דנטלית, ילדים עם מחלות או צרכים
      מיוחדים, חבלות לשיניים וטיפולים מורכבים ומתקדמים.
      חשוב לי מאד ליצור חוויה חיובית עבור הילד, אוירה רגועה ונעימה ובניה של מערכת יחסים טובה ביני לבין הילד והוריו,
      <br>
      <br>
      אני שם דגש על תכנית טיפול מניעתית במרפאה ובבית הכוללת הדרכה ומעקב בנושאים כמו היגיינה אורלית, תזונה והרגלים
      אורליים.
      <br>
      <br>
      ההיגיון הבריא מורה שעדיף למנוע התלקחות מאשר לכבות שריפות.
      תכנון נבון של טיפול ומעקב לוקח בחשבון את ההתפתחות הצפויה של השיניים הקבועות, הרקמות הרכות והלסתות.
      <br>
      <br>
      מומחה לרפואת שיניים לילדים בקריית השרון, אני מורשה מטעם משרד הבריאות לטפל בילדים תחת סדציה והרדמה כללית במידה
      שאלה הטכניקות המתאימות ביותר עבור הילדים.

      אהבתי לילדים ניכרת בעבודתי. אשמח להעניק לילדכם חוויה טובה של טיפול שיניים ברמה הגבוהה ביותר במרפאת השיניים שלנו.
    </p>
  </blockquote>
</div>
